<table>
  <tr>
    <th>Frame</th>
    <th>1</th>
    <th>2</th>
    <th>3</th>
    <th>4</th>
    <th>5</th>
    <th>6</th>
    <th>7</th>
    <th>8</th>
    <th>9</th>
    <th>10</th>
  </tr>
  <tr>
    <td>Rolls</td>
    <% for frame_position in (1..10) do %>
      <%- frame = @game.get_frame(frame_position) %>
      <% if frame %>
        <td><%= transformed_rolls(frame.rolls) %></td>
      <% else %>
        <td></td>
      <% end %>  
    <% end %> 
  </tr>
  <tr>
    <td>Score</td>
      <% for frame_position in (1..10) do %>
        <%- frame = @game.get_frame(frame_position) %>
        <% if frame&.complete? && frame.bonus_rolls_needed <= 0 %>
          <td><%= frame.score %></td>
        <% else %>
          <td></td>
        <% end %>  
      <% end %>   
  </tr>
</table>

<style type="text/css">
  table, th, td {
    border: 1px solid black;
  }

  table {
    table-layout: fixed ;
    width: 40% ;
  }

  td {
    width: 10% ;
    text-align: center;
  }
</style>